# Heavy Model Weights & Datasets
*.pt
runs/
*.mp4

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

# Environment
.env
venv/
env/
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini
